.link {
 color: black;
 background-color: lightyellow;
 font-size: 22px;
 font-weight: bold;
 font-family: "Times New Roman", serif;
}

h1 {
 font-size: 50px;
 font-family: "Times New Roman", serif;
}
