body{
 background-color: rgb(200, 219, 205);
}

.link {
 color: black;
 background-color: rgb(171, 224, 185);
 font-size: 22px;
 font-weight: bold;
 font-family: "Times New Roman", serif;
}

h1 {
 font-size: 50px;
 font-family: "Times New Roman", serif;
 margin-top: 10px;
 margin-left: 808px;
}

.recipes{
 border-radius: 10px;
 background-color: white;
 border: 10px solid white;
 margin-left: 710px;
 margin-right: 710px;
}
